    <!--nav-->
    <nav role="navigation" class="navbar navbar-custom">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a href="#" [routerLink]="['/']" class="navbar-brand">Website Bán Rau Sạch Trưc Tuyến</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#" [routerLink]="['/quanly']">{{ tenDangNhap }}</a></li>
              <li class="active"><a href="#" [routerLink]="['/loginadmin']">Thoát</a></li>
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    <!--header-->
    <div class="container-fluid">
    <!--documents-->
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-xs-4 col-sm-2 sidebar-offcanvas" role="navigation">
            <ul class="list-group panel">
                <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>&nbsp;Quản Lý</b></li>
                <li class="list-group-item"><a href="" [routerLink]="['/quanly']" (click)="changeCheckProduct()"><i class="glyphicon glyphicon-leaf"></i>&nbsp;&nbsp;Sản Phẩm </a></li>
                <li class="list-group-item"><a href="" [routerLink]="['/quanly']" (click)="changeCheckUser()"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Thành Viên </a></li>
                <li class="list-group-item"><a href="" [routerLink]="['/loginadmin']"><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Thoát </a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-10 content">
           <app-sanpham *ngIf="checkPruduct">...</app-sanpham>
           <app-thanhvien *ngIf="checkUser">...</app-thanhvien>
          </div><!-- content -->
      </div>
    </div>