<div class="margintopcarousel marginbottomslide">
	<carousel class="margintopcarousel">
		<slide class="text-center">
			<img src="../assets/images/nature/7.jpg" alt="First slide">
			<div class="carousel-caption">
				<h3><a href="#">Rau sạch Trực Tuyến</a></h3>
				<p>Rau sạch cho mọi nhà.</p>
			</div>
		</slide>
		<slide class="text-center">
			<img src="../assets/images/nature/8.jpg" alt="Second slide">
			<div class="carousel-caption">
        <h3><a href="#">Rau sạch Trực Tuyến</a></h3>
				<p>Rau sạch cho mọi nhà.</p>
			</div>
		</slide>
		<slide class="text-center">
			<img src="../assets/images/nature/1.jpg" alt="Third slide">
			<div class="carousel-caption">
				<h3><a href="#">Rau sạch Trực Tuyến</a></h3>
				<p>Rau sạch cho mọi nhà.</p>
			</div>
		</slide>
	</carousel>
</div>