<!-- footer -->

<div class="footer margintop">
	<div class="container">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
			<div class="theodoi">
				Nhận Tin Tức Qua Email
			</div>
			<div class="nhantintuc">
				Chúng tôi sẽ gửi cho bạn thông tin mới nhất về sản phẩm mới.
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
			<div class="search">
				<form class="navbar-form" role="search" (ngSubmit)="b.form.valid && lienHe()" #b="ngForm">
					<div class="input-group add-on">
						<input class="form-control" placeholder="Email ..." name="lienhe" id="lienhe" type="text" 
					 [(ngModel)]="model.lienhe" #lienhe="ngModel" [ngModelOptions]="{standalone: true}">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="fa fa-envelope-o iconcolor"></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">

		</div>
	</div>
</div>

<!-- footer 2 -->

<div class="footer2">
	<div class="container">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
			<div class="sanpham">
				<img src="../assets/images/logo2.png" alt="LOGO">
			</div>
			<div class="gioithieu text-left">
				<br/> Chúng tôi sẽ đem lại cho khách hàng những sản phẩm rau, củ sạch nhất.<br/> Rau an toàn (RAT) nói riêng và thực
				phẩm an toàn nói chung là một sản phẩm cần thiết, hữu ích cho cuộc sống nhằm bảo vệ sức khỏe cho mỗi cá nhân, gia đình.<br/>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
			<div class="sanpham">
				SẢN PHẨM
			</div>
			<div class="loaisanpham">
				<ul class="list-unstyled">
					<br/>
					<li><a href="#"><i class="fa fa-info-circle  iconwhite" aria-hidden="true"></i>&nbsp;&nbsp;Rau ăn lá</a></li>
					<li><a href="#"><i class="fa fa-info-circle  iconwhite" aria-hidden="true"></i>&nbsp;&nbsp;Rau gia vị</a></li>
					<li><a href="#"><i class="fa fa-info-circle  iconwhite" aria-hidden="true"></i>&nbsp;&nbsp;ăn quả</a></li>
				</ul>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
			<div class="sanpham">
				LIÊN HỆ
			</div>
			<div class="nhantintuc">
				<div class="lienhe">
					<ul class="list-unstyled">
						<br/>
						<li><a href="#"><i class="fa fa-envelope iconwhite" aria-hidden="true">&nbsp;&nbsp;</i>bantla0113@gmail.com</a></li>
						<li><a href="#"><i class="fa fa-phone iconwhite" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>01646560917</a></li>
						<li><a href="#"><i class="fa fa-map-marker fa-lg iconwhite" aria-hidden="true">&nbsp;&nbsp;</i>459, Tôn Đức Thắng, Liên Chiểu, Đà Nẵng</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container ">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
			<br/>&copy; 14CNTT
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

		</div>
	</div>
</div>